<script id="bootstrap-profile-default" type="text/javascript">
    window.proDef = "<%= image_path('profile-default.jpg') %>"
    window.proDefSmall = "<%= image_path('profile-default-25-25.jpg') %>"
</script>

<main id='root'>
    
</main>
