.session-form {
  transform: translate(-10%, -7%);
  background-color: white;
  padding: 25px 20px;
  border-radius: 3px;
  border: 0.5px solid lightgray;
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;

}

.modal-form-header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 35px;
  font-size: 26px;
}

.modal-form-header-span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  height:14px;
}

.session-form > label {
  font-family: 'Mukta', sans-serif;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-left: 10px;
}

.email-input,
.password-input {
  margin: 10px;
  margin-top: 0px;
  width: 90%;
  font-size: 14px;
  border: 1px solid lightgray;
  border-radius: 1px;
  height: 34px;
  text-indent: 3px;
  border-radius: 3px;
  line-height: 34px;
}

.email-input:focus,
.password-input:focus {
  border: 1px solid black;
  outline: none;
} 

.email-errors,
.password-errors  {
  color: #C13C27;
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
}

.session-submit {
  width: 90%;
  background-color: black;
  color: white;
  font-weight: 400px;
  padding: 20px 28px;
  margin: 12px;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 3px;
}

.session-submit:hover {
  cursor: pointer;
  background-color: #3c3c3c;
}

.session-submit:focus {
  outline: none;
}

.light-gray-horizontal-border {
  border-bottom: 1px solid lightgray;
  width: 112%;
  margin-left: -20px;
  margin-top: 30px;
  position: relative;
}

.or {
  display: inline-block;
  padding: 7px;
  position: absolute;
  transform: translate(468%, 1344%);
  background-color: white;
  position: relative;
  z-index: 4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  /* left: 160px; */
  /* top: -47px; */
  font-weight: 300;
}

.signin-header > h1 {
  margin-bottom: 16px;
}

.signin-submit {
  margin-bottom: 26px;
}