.nav-bar {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
}

.logo-search {
  display: flex;
  padding: 25px;
  width: 550px;
  justify-content: space-around;
  background-color: lightcoral;
}

.logo-search > h3 {
  font-family: 'Lora', serif;
  color: #f45800;
  font-size: 25px;
  
}

.icon-nav {
  display: flex;
  justify-content: space-around;
  width: 350px;
  background-color: lightgreen;
}