.modal-background {
  position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 540px;
}

.demo-div {
  background-color: white;
  padding: 25px 20px;
  border-radius: 3px;
  border: 0.5px solid lightgray;
  width: 320px;
  height: 30%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 66.5%;
}

.form-demo {
  width: 90%;
  background-color: white;
  color: black;
  font-weight: 400px;
  padding: 12px 28px;
  margin: 10px;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 20px;
  transition: 0.3s;
}

.form-demo:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.form-demo:focus {
  outline: none;
}

.session-lorem {
  margin-top: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: gray;
  margin-left: 2px;
  margin-right: 2px;
}
