.footer-box {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    width: 100%;
    background-color:white;
    z-index: 0;
}

.footer-box-flex-left {
    display: flex;
    justify-content: space-around;
}   

.footer-box-flex-right {
    display: flex;
    justify-content: space-around;
}

.footer-logo {
  font-family: 'Lora', serif;
  color: #f45800;
  font-size: 30px;
  margin-right: 12px;
  text-decoration: none;
  height: 30px;
}

.footer-slogan {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 12px;
    font-weight: 400;
    vertical-align: center;
    font-size: 12px;
    padding-top: 10px;
}

.footer-copyright {
    color: gray;
    font-weight: 400;
    margin: 0 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.footer-git {
    font-weight: 400;
    margin: 0 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.footer-git:hover {
    text-decoration: underline;
}

.footer-linkedin {
    font-weight: 400;
    margin: 0 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.footer-linkedin:hover {
    text-decoration: underline;
}

.footer-personal {

}

.footer-box i {
    margin: 0px 4px;
}
