.splash-box {
    width: 100%;
}

.handmade-splash {
    width: 100%;
}

.handmade-splash:hover {
    cursor: pointer;
}

.handmade-subsplash {
    width: 100%;
}

.handmade-subsplash:hover {
    cursor: pointer;
}