.add-listing {
    text-decoration: none;
    width: 112px;
    background-color: black;
    color: white;
    padding: 8px 28px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 3px;
    margin-left: 0px;
    height: 12px;
    padding-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-listing:hover {
    background-color: #3c3c3c;
    cursor: pointer;
}

.add-listing:focus {
    outline: none;
}


/* .manager-products-ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    flex-direction: column;
}

.managers-product-index-items {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    margin-bottom: 10px;
}

.managers-product-index-items .index-item-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px;
    position: relative;
}

.managers-product-index-items .item-box {
    width: 150px;
    height: 175px;
    border: 1px solid black;
    position: absolute;
    top: -73px;
    border-radius: 3px;
    background-color: white;

}

.update-listing {
    width: 20%;
    height:8%;
    padding: 6px 14px;
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 3px; 
    text-decoration: none;
    text-align: center;
}

.update-listing:hover {
    background-color: rgb(36, 36, 36);
}

.remove-listing {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 9px;
    height: 8%;
    width: 20%;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 44px;
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 3px;
    text-align: center;
    transition: 0.1s;
}


.remove-listing:hover {
  background-color:black;
  color: white;
  cursor: pointer;
}

.remove-listing:focus {
  outline: none;
}

.create-shop {
    display:flex;
    width: 100%;
    justify-content: space-between;
} */


/* !!!! NEW MATERIALS !!!! */

.shop-manager-box {
    width: 100%;
    display: flex;
}

.left-nav {
    width: 255px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

}

.left-nav-header {
    width: 80%;
    margin: 15px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-left: 25px;
    text-align: center;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.mngr-icon-bg {
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
}

.mngr-icon-bg > i {
    color: white;
    position: absolute;
    top: 6px;
    right: 4px;
    font-weight: 700;
}

.left-nav-listings {
    height: 40px;
    display: flex;
    align-items: center;
}

.left-nav-listings *:hover {
    background-color: lightgray;
    cursor: pointer;
}

.left-nav-listings:hover > .nav-listings-button {
    background-color: lightgray;
    cursor: pointer;
}

.left-nav-listings:hover {
    background-color: lightgray;
    cursor: pointer;
}

.nav-listings-button {
    border: 0px;
    width: 100%;
    margin-left: 35px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 9px;
    margin-top: 2px;

}

.nav-listings-button:focus {
    outline: none;
}

.fa-shapes {
  margin-right: 15px;
  font-size: 22px;
  transform: rotate(225deg);
  margin-top: 3px;
}

.listings-span {
    font-size: 16px;
    margin-bottom: 6px;
}

/*  */

.left-nav-orders {
    height: 42px;
    display: flex;
    align-items: center;
}

.left-nav-orders *:hover {
    background-color: lightgray;
    cursor: pointer;
}

.left-nav-orders:hover > .nav-orders-button {
    background-color: lightgray;
    cursor: pointer;
}

.left-nav-orders:hover {
    background-color: lightgray;
    cursor: pointer;
}

.nav-orders-button {
    border: 0px;
    width: 100%;
    margin-left: 35px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 9px;
    /* margin-top: 2px; */

}

.nav-orders-button:focus {
    outline: none;
}

.fa-clipboard-list{
  margin-right: 16px;
  font-size: 25px;
  margin-bottom: 6px
} 

.orders-span {
    font-size: 16px;
    margin-bottom: 6px;
}

.manager-main {
    width: calc(100% - 225px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.shop-manager-header {
    width: 100%;
    padding: 15px auto;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.mngr-h2 {
    margin: 15px;
}

.mngr-add-listing {
    margin: 15px;
}

.mngr-main-background {
    background-color: #FAF9F5;
    border-left: 1px solid lightgray;
    
}

.manager-ul-box {
    margin: 20px;
}

.manager-ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-start;
}

.manager-product-index-item {
    width: 175px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 10px;
}

.mngr-item-img-box {
    width: 100%;
    height: 137px;
    overflow:hidden;
}

.mngr-item-img {
    width: 100%;
    height: auto;
}

.mngr-item-prod-details {
    height: 80px;
    width: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mngr-item-prod-title {
    text-overflow: ellipsis;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.mngr-item-stock-price {
    display: flex;
    justify-content: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: gray;
}

.mngr-item-stock-price span {
    margin: 3px;
}

.manager-options {
    width: 100%;
    height: 50px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.manager-options * {
    margin: 5px;
}

.update-listing {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.update-listing:visited {
    color: black;
}

.remove-listing {
    border: 0;
    color: black;
    font-size: 16px;
}

.remove-listing:hover {
    cursor: pointer;
}