.add-listing {
    text-decoration: none;
    width: 112px;
    background-color: black;
    color: white;
    padding: 8px 28px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 3px;
    margin-left: 0px;
    height: 12px;
    padding-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-listing:hover {
    background-color: #3c3c3c;
    cursor: pointer;
}

.add-listing:focus {
    outline: none;
}


.manager-products-ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    flex-direction: column;
}

.managers-product-index-items {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    margin-bottom: 10px;
}

.managers-product-index-items .index-item-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px;
    position: relative;
}

.managers-product-index-items .item-box {
    width: 150px;
    height: 175px;
    border: 1px solid black;
    position: absolute;
    top: -73px;
    border-radius: 3px;
    background-color: white;

}

.update-listing {
    width: 20%;
    height:8%;
    padding: 6px 14px;
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 3px; 
    text-decoration: none;
    text-align: center;
}

.update-listing:hover {
    background-color: rgb(36, 36, 36);
}

.remove-listing {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 9px;
    height: 8%;
    width: 20%;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 44px;
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 3px;
    text-align: center;
    transition: 0.1s;
}


.remove-listing:hover {
  background-color:black;
  color: white;
  cursor: pointer;
}

.remove-listing:focus {
  outline: none;
}

.create-shop {
    display:flex;
    width: 100%;
    justify-content: space-between;
}