.index-item-li:hover {
    cursor: pointer;
}

.index-item-li {
    width: 15.4%;
    box-sizing: border-box;
    margin-bottom: 4%;
    max-height: 3%;
}

.index-item-li:first-child,
.index-item-li:nth-child(7) {
    margin-left: 0px;
}

.index-item-li:last-child,
.index-item-li:nth-child(6) {
    margin-right: 0px;
}

.item-box:first-child,
.item-box:nth-child(7) {
    margin-left: 0px;
}

.item-box:last-child,
.item-box:nth-child(6) {
    margin-right: 0px;
}

.index-item-li:hover > .item-box > .item-image {
    transition: 0.2s;
    box-shadow: 1px 1px 7px 1px lightgray;
    /* box-shadow: none|h-offset v-offset blur spread color */
}


.item-box  {
  text-decoration: none;
  transition: 0.3s;
  display: block;
  height: 100%;
  width: 100%;
}

.item-image {
    width: 100%;
    height: auto;
    max-height: 135px;
}

.item-title {
    color: #222222;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.item-merchant {
    color: #222222;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-price {
    color: #222222;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

} 

