/* .product-show-component {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.left-col-66 {
    grid-column: 1 2;
    width: 66%;
}

.right-col-33 {
    grid-column: 2 1;
    width: 33%;
} */

.product-show-component {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.left-col-66 {
    /* width: 57vw; */
    width: 66.66%;
    margin-right: 4%;
}

.right-col-33 {
    /* width: 33vw; */
    width: 33.33%;
}

.image-box {
    display: flex;
    justify-content: space-between;
    /* margin-left: 5%; */
    align-items: center;
    box-sizing: border-box;
    margin-right: 4%;
    
}
    
    .previous-picture {
        color: white;
        border-radius: 0 3px 3px 0;
        transition: all 0.1s;
        background-color: #757575;
        opacity: 0.4;
        height: 80px;
        width: 40px;
        font-size: 14px;
        z-index: 2;
        margin-right: 1%
    }

    .previous-picture > i {
        height: 36px;
        font-size: 36px;
        
    }

    .display-image {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        max-width: 90%;
        height: auto;
        max-height: 650px;
    }

    .next-picture {
        color: white;
        border-radius: 3px 0 0 3px;
        transition: all 0.1s;
        background-color: #757575;
        opacity: 0.4;
        height: 80px;
        width: 40px;
        font-size: 14px;
        margin-left: 1%;
    }

    .next-picture > i {
        height: 36px;
        font-size: 36px;
    }

.product-pictures-ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: calc(100% - 2%);
}

.thumbnail {
    height: 60px;
    width: 60px;
    border-radius: 3px;
    margin: 5px;
}

.thumbnail-li {
    opacity: 0.6;
    height: 60px;
    width: 60px;
    margin: 5px;
    border-radius: 3px;
}

.thumbnail-li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.thumb-selected {
    opacity: 1;
}


.product-description-box {
    border-top: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 10px;
}

    .description-header {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 12px;
        font-size: 16px;
        font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        font-weight: 500;
        line-height: 1.6;
    }

    input[type="checkbox"] {
        display:none;
    }

    .readmore-label {
        color:black;
        text-decoration:underline;
        margin-top:10px;
        cursor:pointer;
        display:inline-block;
    }

    .readmore-label:after {
        content: "<i className="fas fa-plus"/> More";  
    }

    input:checked ~ .readmore-label:after {
        content: "<i class="fas fa-minus"/> Less";  
    }

    .inner-description {
        max-height: 10px;
        overflow:hidden;
        transition:all .3s ease;
        width: 100%;
    }

    input:checked + .inner-description {
        max-height: 500px;
    }

.buy-box {
    margin-top: 1%;
    border-bottom: 1px solid lightgray;

}


    .shop-name {
        font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        font-size: 14px;
        text-align: left;
        color: #757575;
        font-weight: 300;
    }

    .product-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        /* font-family: "Guardian-EgypTT",Arial,sans-serif; */
        text-rendering: optimizeLegibility;
        color: #333333;
        margin-bottom: 12px;
    }

    .product-price {
        font-size: 18px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
    }

    .buy-quantity {

    }

        .quantity-label {
            font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
            text-align: left;
            display: block;
            color: #444;
            font-size: 14px;
            margin-bottom: 3px;
            margin-top: 8px;
            /* font-weight: 100; */
            line-height: 1.4;

        }

        .quantity-select {
            border-radius: 3px;
            -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            background-color: #FFF;
            border-color: rgba(0, 0, 0, 0.15);
            border-style: solid;
            border-width: 1px;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            color: #222;
            padding-right: 30px;
            text-indent: 0.01px;
            line-height: 34px;
            height: 34px;
            width: 64px;
        }


    .buy-now {
        transition: 0.1s;
        width: 95%;
        margin-top: 20px;
        margin-left: 0px;
        height: 34px;
        font-weight: 600;
        text-align: center;
        border: 2px solid black;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: content-box;
        font-size: 16px;
        border-radius: 4px;
    }

    .buy-now:hover {
        background-color:black;
        color: white;
        cursor: pointer;
    }

    .buy-now:focus {
        outline: none;
    }

    .cart-add {
        width: 100%;
        background-color: black;
        color: white;
        font-weight: 400px;
        padding: 20px 28px;
        margin: 12px;
        margin-right: 0px;
        font-size: 16px;
        margin-bottom: 30px;
        line-height: 3px;
        margin-top: 20px;
        margin-left: 0px;
        border-radius: 3px;
        height: 34px;
    }

    .cart-add:hover {
        background-color: #3c3c3c;
        cursor: pointer;
    }

    .cart-add:focus {
        outline: none;
    }


    .demand {

    }

.product-overview-box {
    min-height: 100px;
    border-bottom: 1px solid lightgray;
    
}
    .product-overview-h3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 12px;
        font-size: 16px;
        font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        font-weight: 500;
        line-height: 1.6;
    }

.shipping-returns-box {
    min-height: 100px;
    border-bottom: 1px solid lightgray;
}

    .shipping-returns-h3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 12px;
        font-size: 16px;
        font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        font-weight: 500;
        line-height: 1.6;
    }

.merchant-listings-box {
    min-height: 100px;
}
    .merchant-listings-h3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 12px;
        font-size: 16px;
        font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        font-weight: 500;
        line-height: 1.6;
        text-align: center;
    }

.overview-paragraph {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 12px
}

.shipping-paragraph-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.fa-shipping-fast {
    font-size: 26px;
    margin-right: 6px;
    margin-top: 2px
}

.shipping-paragraph {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 12px;
}

.product-reviews-box {
    border-top: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 10px;
}

.reviews-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 12px;
    font-size: 16px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 500;
    line-height: 1.6;    
}

.reviews-ul {
    list-style: none;
}

.review-li {
    border-top: 1px solid lightgray;
}

.review-li:first-of-type {
    border-top: 0px;
}

.review-box {
    margin: 10px;
    margin-left: 0px;
    padding-left: 8px;
}

.review-header {
    padding-top: 5px;
}

.review-email {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.review-rating {
    padding-top: 5px;
}

.review-body {
    padding-top: 5px;
}

.review-form {
    list-style:none;
    margin-left: 0px;
}

.review-form-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    font-size: 14px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 500;
    line-height: 1.6;  
    margin-bottom: -8px;
}

.review-textarea {
    min-width: 95%;
    min-height: 50px;
    height: 50px;
    margin: 5px 0;
}

.my-review {
    background-color: #FAF9F5;
    border-radius: 3px;
    padding: 3px;
    border-top: 0px;
    padding-left:8px;
}

.post-review-button{
    margin: 8px 0;
    padding: 5px 10px;
}

.post-review {
    margin: 5px;
}

.edit-review-button {
    margin: 5px;
    margin-top: 0px;
    padding: 5px 10px;
    font-size: 15px;
}

.delete-review-button {
    margin: 5px;
    margin-top: 0px;
    padding: 5px 10px;
    font-size: 15px;
}

.review-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}